@import "~bulma/sass/utilities/_all";

$primary: #21258A;

@import "~bulma";
@import "~buefy/src/scss/buefy";

$background-color: #f2f7fe;
$font-family: "Apercu Pro", sans-serif;
$font-color: #21258a;

#signup-form {
    background-color: $background-color;
    min-height: 100vh;
  }

.signup-content {
    color: $font-color;
    font-family: $font-family;
    max-width: 900px;
    @include from($tablet) {
      margin: auto;
      padding: 80px;
    }
  }
  
#signup-form .label {
  font-family: $font-family;
  color: $font-color;
  font-weight: normal;
  margin: 10px 0;
}

#signup-form .field {
  margin: 25px 0;
}
